In [1]:
#importando bibliotecas
import pandas as pd 
import csv, sqlite3
import os
import re

In [2]:
con = sqlite3.connect("./censo_matricula.db") 
cur = con.cursor()

In [3]:
cur.execute('DROP TABLE IF EXISTS matricula')
cols = re.sub(u'[^a-zA-Z0-9,_]', '', str(list(csv.reader(open('dados/matricula_co-000.CSV', 'r'),delimiter=','))[0]))
cur.execute("CREATE TABLE IF NOT EXISTS matricula ("+cols+");")

In [4]:
files = [] 
for diretorio, subpastas, arquivos in os.walk('dados'):
    for arquivo in arquivos:
        files.append(os.path.join(os.path.realpath(diretorio), arquivo))

In [5]:
def ingerir_dados(i):
    with open(i, 'r') as read_obj:
        try:
            rows = list(csv.reader(read_obj,delimiter=','))
            if rows[0] == cols.split(','): 
                rows.pop(0)
            cur.executemany("INSERT INTO matricula ("+cols+") VALUES ("+("?,"*102)+"?);",rows)
        except:
            return i

In [6]:
for i in files:
   ingerir_dados(i)

In [7]:
con.commit()

In [8]:
with open('UF.csv', 'r') as read_obj:
    rows = list(csv.reader(read_obj,delimiter=';'))
    for i in rows:
        cur.execute('UPDATE MATRICULA SET CO_UF= "'+i[1]+'" WHERE CO_UF="'+i[0]+'";')
        print(i[1]+' substituido por: '+i[0])

RO substituido por: 11
AC substituido por: 12
AM substituido por: 13
RR substituido por: 14
PA substituido por: 15
AP substituido por: 16
TO substituido por: 17
MA substituido por: 21
PI substituido por: 22
CE substituido por: 23
RN substituido por: 24
PB substituido por: 25
PE substituido por: 26
AL substituido por: 27
SE substituido por: 28
BA substituido por: 29
MG substituido por: 31
ES substituido por: 32
RJ substituido por: 33
SP substituido por: 35
PR substituido por: 41
SC substituido por: 42
RS substituido por: 43
MS substituido por: 50
MT substituido por: 51
GO substituido por: 52
DF substituido por: 53

In [9]:
with open('COR.csv', 'r') as read_obj:
    rows = list(csv.reader(read_obj,delimiter=';'))
    for i in rows:
        cur.execute('UPDATE MATRICULA SET TP_COR_RACA= "'+i[1]+'" WHERE TP_COR_RACA="'+i[0]+'";')
        print(i[1]+' substituido por: '+i[0])

Sem informacao substituido por: 0
Branca substituido por: 1
Preta substituido por: 2
Parda substituido por: 3
Amarela substituido por: 4
Indigena substituido por: 5

In [15]:
#Questão 1 - o código 14 representa matriculas no Ensino Fundamental de 9 anos
cur.execute("SELECT CO_UF,TP_ETAPA_ENSINO,COUNT(*) FROM matricula GROUP BY CO_UF, TP_ETAPA_ENSINO HAVING TP_ETAPA_ENSINO='14' ORDER BY COUNT(*) DESC LIMIT 10")
q1 = cur.fetchall()
for i in q1:
    print(i)

('SP', '14', 596248)
('MG', '14', 251900)
('RJ', '14', 224759)
('BA', '14', 177876)
('PR', '14', 158475)
('RS', '14', 139228)
('PE', '14', 121167)
('CE', '14', 109253)
('MA', '14', 104128)
('PA', '14', 100714)

In [12]:
#Questão 2
cur.execute("SELECT CO_UF,TP_COR_RACA, COUNT(TP_COR_RACA) FROM matricula GROUP BY CO_UF,TP_COR_RACA")
q2 = cur.fetchall()
for i in q2:
    print(i)

('AC', 'Amarela', 749)
('AC', 'Branca', 18641)
('AC', 'Indigena', 9517)
('AC', 'Parda', 100006)
('AC', 'Preta', 2360)
('AC', 'Sem informacao', 63055)
('AL', 'Amarela', 2243)
('AL', 'Branca', 96532)
('AL', 'Indigena', 4638)
('AL', 'Parda', 451241)
('AL', 'Preta', 17334)
('AL', 'Sem informacao', 234691)
('AM', 'Amarela', 859)
('AM', 'Branca', 45854)
('AM', 'Indigena', 54494)
('AM', 'Parda', 407322)
('AM', 'Preta', 4823)
('AM', 'Sem informacao', 91087)
('AP', 'Amarela', 400)
('AP', 'Branca', 20432)
('AP', 'Indigena', 5017)
('AP', 'Parda', 106641)
('AP', 'Preta', 4758)
('AP', 'Sem informacao', 44263)
('BA', 'Amarela', 14178)
('BA', 'Branca', 278153)
('BA', 'Indigena', 15257)
('BA', 'Parda', 1525568)
('BA', 'Preta', 283209)
('BA', 'Sem informacao', 1212400)
('CE', 'Amarela', 4537)
('CE', 'Branca', 283231)
('CE', 'Indigena', 9691)
('CE', 'Parda', 1299535)
('CE', 'Preta', 22318)
('CE', 'Sem informacao', 556727)
('DF', 'Amarela', 3089)
('DF', 'Branca', 188210)
('DF', 'Indigena', 717)
('DF', 'Parda', 273040)
('DF', 'Preta', 21643)
('DF', 'Sem informacao', 237766)
('ES', 'Amarela', 2290)
('ES', 'Branca', 277711)
('ES', 'Indigena', 2058)
('ES', 'Parda', 486357)
('ES', 'Preta', 46265)
('ES', 'Sem informacao', 101141)
('GO', 'Amarela', 7419)
('GO', 'Branca', 296904)
('GO', 'Indigena', 944)
('GO', 'Parda', 548357)
('GO', 'Preta', 29776)
('GO', 'Sem informacao', 626271)
('MA', 'Amarela', 6115)
('MA', 'Branca', 156891)
('MA', 'Indigena', 17905)
('MA', 'Parda', 1081168)
('MA', 'Preta', 39565)
('MA', 'Sem informacao', 650123)
('MG', 'Amarela', 11087)
('MG', 'Branca', 1536758)
('MG', 'Indigena', 6454)
('MG', 'Parda', 1962515)
('MG', 'Preta', 254240)
('MG', 'Sem informacao', 723404)
('MS', 'Amarela', 1983)
('MS', 'Branca', 301257)
('MS', 'Indigena', 29692)
('MS', 'Parda', 291458)
('MS', 'Preta', 11913)
('MS', 'Sem informacao', 62542)
('MT', 'Amarela', 1344)
('MT', 'Branca', 112863)
('MT', 'Indigena', 19259)
('MT', 'Parda', 175503)
('MT', 'Preta', 10121)
('MT', 'Sem informacao', 552394)
('PA', 'Amarela', 2831)
('PA', 'Branca', 119354)
('PA', 'Indigena', 14830)
('PA', 'Parda', 674703)
('PA', 'Preta', 26693)
('PA', 'Sem informacao', 659980)
('PB', 'Amarela', 4217)
('PB', 'Branca', 170893)
('PB', 'Indigena', 6694)
('PB', 'Parda', 467184)
('PB', 'Preta', 20433)
('PB', 'Sem informacao', 237321)
('PE', 'Amarela', 6469)
('PE', 'Branca', 358274)
('PE', 'Indigena', 16242)
('PE', 'Parda', 907709)
('PE', 'Preta', 55993)
('PE', 'Sem informacao', 735121)
('PI', 'Amarela', 5473)
('PI', 'Branca', 89990)
('PI', 'Indigena', 749)
('PI', 'Parda', 478133)
('PI', 'Preta', 26367)
('PI', 'Sem informacao', 209612)
('PR', 'Amarela', 12070)
('PR', 'Branca', 1676540)
('PR', 'Indigena', 8782)
('PR', 'Parda', 501167)
('PR', 'Preta', 37239)
('PR', 'Sem informacao', 495923)
('RJ', 'Amarela', 7270)
('RJ', 'Branca', 982078)
('RJ', 'Indigena', 2348)
('RJ', 'Parda', 1056831)
('RJ', 'Preta', 254532)
('RJ', 'Sem informacao', 1314915)
('RN', 'Amarela', 3922)
('RN', 'Branca', 183205)
('RN', 'Indigena', 1535)
('RN', 'Parda', 303382)
('RN', 'Preta', 16425)
('RN', 'Sem informacao', 269918)
('RO', 'Amarela', 1486)
('RO', 'Branca', 64391)
('RO', 'Indigena', 3737)
('RO', 'Parda', 151549)
('RO', 'Preta', 6883)
('RO', 'Sem informacao', 58461)
('RR', 'Amarela', 200)
('RR', 'Branca', 12757)
('RR', 'Indigena', 22287)
('RR', 'Parda', 64012)
('RR', 'Preta', 1793)
('RR', 'Sem informacao', 28315)
('RS', 'Amarela', 3140)
('RS', 'Branca', 1506891)
('RS', 'Indigena', 10732)
('RS', 'Parda', 183702)
('RS', 'Preta', 99529)
('RS', 'Sem informacao', 573011)
('SC', 'Amarela', 2454)
('SC', 'Branca', 1135994)
('SC', 'Indigena', 4755)
('SC', 'Parda', 150974)
('SC', 'Preta', 40611)
('SC', 'Sem informacao', 382176)
('SE', 'Amarela', 2010)
('SE', 'Branca', 52303)
('SE', 'Indigena', 580)
('SE', 'Parda', 270933)
('SE', 'Preta', 15195)
('SE', 'Sem informacao', 143919)
('SP', 'Amarela', 41200)
('SP', 'Branca', 5568355)
('SP', 'Indigena', 12628)
('SP', 'Parda', 2266038)
('SP', 'Preta', 265308)
('SP', 'Sem informacao', 2246402)
('TO', 'Amarela', 1888)
('TO', 'Branca', 56298)
('TO', 'Indigena', 5666)
('TO', 'Parda', 202284)
('TO', 'Preta', 12050)
('TO', 'Sem informacao', 49546)

In [16]:
con.commit()
con.close()